<div class="purchase-review">
  @if (innerWidth < mobileBreakPoint) {
    <div class="purchase-review-nav flex space-between">
      <div class="back">
        <a><img src="assets/images/back-icon.svg" alt="back-icon" loading="lazy"></a>
      </div>
      <div class="mobile-logo flex align-center">
      <span class="flex">
        <svg xmlns="http://www.w3.org/2000/svg" width="17" height="16" viewBox="0 0 17 16" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M5.59386 6.5186V5.55564C5.59386 3.96015 6.88726 2.66675 8.48275 2.66675C10.0782 2.66675 11.3716 3.96015 11.3716 5.55564V6.5186C12.1694 6.5186 12.8161 7.1653 12.8161 7.96304V11.8149C12.8161 12.6126 12.1694 13.2593 11.3716 13.2593H5.59386C4.79611 13.2593 4.14941 12.6126 4.14941 11.8149V7.96304C4.14941 7.1653 4.79611 6.5186 5.59386 6.5186ZM6.55682 5.55564C6.55682 4.49198 7.41909 3.62971 8.48275 3.62971C9.54641 3.62971 10.4087 4.49198 10.4087 5.55564V6.5186H6.55682V5.55564ZM5.59386 7.48156C5.32794 7.48156 5.11238 7.69713 5.11238 7.96304V11.8149C5.11238 12.0808 5.32794 12.2964 5.59386 12.2964H11.3716C11.6376 12.2964 11.8531 12.0808 11.8531 11.8149V7.96304C11.8531 7.69713 11.6376 7.48156 11.3716 7.48156H5.59386Z"
                  fill="#CAD3DB"/>
        </svg>
        <p>
          Payment with
        </p>
      </span>
        <img src="assets/images/mobile-logo.svg" alt="logo" loading="lazy">
      </div>
    </div>
  }

  <div class="purchase-review-header">
    <h1>Choose your payments plan</h1>
    <p class="flex align-center"><img src="assets/images/check-mark.svg" alt="icon" loading="lazy"> 0% interest</p>
    <p class="flex align-center"><img src="assets/images/check-mark.svg" alt="icon" loading="lazy"> 100% Sharia-compliant</p>
  </div>


  <div class="purchase-review-details order">
    <h4>Order details</h4>

    <div class="order-info">
      <div class="flex space-between">
        <p>Basic soft denim shorts, x1</p>
        <p>KD 15.200</p>
      </div>
      <div class="flex space-between">
        <p>Floral Print Shirt, x1</p>
        <p>KD 20.500</p>
      </div>
      <div class="flex space-between">
        <p>Crochet textured shirt, x1</p>
        <p>KD 5.000</p>
      </div>
    </div>

    <div class="order-total">
      <div class="flex space-between">
        <p>Sub-total</p>
        <p>KD 40.700</p>
      </div>
      <div class="flex space-between">
        <p>Shipping</p>
        <p>KD 1.750</p>
      </div>
      <div class="flex space-between">
        <p>Shipping discount</p>
        <p>KD 5.000</p>
      </div>
    </div>
  </div>


  <div class="purchase-review-total flex space-between">
    <div class="brand flex align-center">
      <img src="assets/images/zara-logo.png" alt="brand-logo" loading="lazy">
      <p>Zara</p>
    </div>
    <div class="total-price">
      <p class="price">KD 47.000</p>
      <p class="hint">*Including VAT</p>
    </div>
  </div>
</div>
