<div class="payment-selection">
  <div class="card-payment-section">
    <p class="subtitle">
      Split in 4 payments
    </p>
    <div class="payment-timeline">
      <div class="instalment flex space-between align-center">
        <div class="instalment-info flex align-center">
          <img src="assets/images/1.4-solid-point.svg" alt="icon">
          <p>Today</p>
        </div>
        <div class="instalment-value">
          <p>KD 11.750</p>
        </div>
      </div>

      <div class="instalment flex space-between align-center">
        <div class="instalment-info flex align-center">
          <img src="assets/images/1.2-solid-point.svg" alt="icon">
          <p>Due on 8 Aug</p>
        </div>
        <div class="instalment-value">
          <p>KD 11.750</p>
        </div>
      </div>

      <div class="instalment flex space-between align-center">
        <div class="instalment-info flex align-center">
          <img src="assets/images/3.4-solid-point.svg" alt="icon">
          <p>Due on 8 Aug</p>
        </div>
        <div class="instalment-value">
          <p>KD 11.750</p>
        </div>
      </div>

      <div class="instalment flex space-between align-center">
        <div class="instalment-info flex align-center">
          <img src="assets/images/1.1-solid-point.svg" alt="icon">
          <p>Due on 8 Aug</p>
        </div>
        <div class="instalment-value">
          <p>KD 11.750</p>
        </div>
      </div>
    </div>
    <button class="primary-button">Select</button>
  </div>
  <div class="card-payment-section">
    <p class="subtitle">
      Pay in 30 days
    </p>


    <div class="payment-timeline">
      <div class="instalment flex space-between align-center">
        <div class="instalment-info flex align-center">
          <img src="assets/images/1.4-solid-point.svg" alt="icon">
          <p>Today</p>
        </div>
        <div class="instalment-value">
          <p>KD 11.750</p>
        </div>
      </div>

      <div class="instalment flex space-between align-center">
        <div class="instalment-info flex align-center">
          <img src="assets/images/1.1-solid-point.svg" alt="icon">
          <p>Due on 8 Aug</p>
        </div>
        <div class="instalment-value">
          <p>KD 11.750</p>
        </div>
      </div>
    </div>


    <button class="primary-button">Select</button>
  </div>
</div>
